doctype html
html(lang='en')
  head
    title Simple Calculator
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
  body
    .container
      .calculator
        input(type='text')
        .row
          button.button 1
          button.button 2
          button.button 3
          button.last.button 0
        .row
          button.button 4
          button.button 5
          button.button 6
          button.last#clear C
        .row
          button.button 7
          button.button 8
          button.button 9
          button.last.plusmin ±
        .row
          button.button.op +
          button.button.op -
          button.button.op *
          button.last.button.op /
        .row
          button.button.expo e
          button.root √
          button.button .
          button.last.equals =
    
          
    p
      a(href="") Github source code     
    
    h5.text-center  Copyright © 2015 Amah Ajavon
    
  script(src='/vendor/jquery/dist/jquery.js')
  script(src='/main.js')
